*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
    font-style: normal;;
}
:root{
    --header:#454141;
    --text:#fff;
}
html{
    scroll-behavior: smooth;
}


.container{
    max-width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}
.container > div{
    width: 98%;
    height: 100%;
    border-bottom: 2px solid;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
}
.header{
    width: 98%;
    height: 70px;
    background-color: var(--header);
    display: flex;
    position:sticky;
    top: 0;
}
.header .nav{
    width: 70%;
    height: 100%;
}
.header .logo{
    width: 30%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--text);
    font-size: 30px;
}
.nav ul{
    width: 100%;
    height: 100%;
    display: flex;
    list-style: none;
    align-items: center;
    position: relative;
}

.nav li{
    min-width: 200px;
    display: flex;
    align-items: center;
}
.nav .perfil{
    position: absolute;
    right: 1px;
}
.nav a{
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    font-size: 25px;
    color: var(--text);
}
.nav li img{
    border: 1px solid;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    overflow: hidden;
    background-color: var(--text);
}
.nav ul:hover > :not(:hover){opacity: .7;}

.contenedor-table{
    width: 90%;
    height: 80%;
    overflow-x: auto;
    display: flex;
    justify-content: center;

}
.table{
    width: auto;
    height: 100%;
}
.table .thead{
    width: 100%;
    height: 50px;
    background-color: var(--header);
    color: var(--text);
}
.table .tbody{
    height: 600px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    scrollbar-color: rgb(25, 71, 25) var(--text);
    margin-bottom: 1em;
}
.thead .row .cell{
    font-weight: bold;
    font-size: 18px;
}
.table .row{
    width: auto;
    height: 50px;
    display: flex;
    border-bottom: 1px solid;
    overflow: hidden;

}

.table .cell{
    min-width: 150px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}
.tbody .cell{
    font-size: 16px;
}
.tbody .cell:nth-child(4){overflow-x: auto;}
.tbody .row{
    background-color: #fff;
}
.tbody .row:nth-child(even){background-color: rgb(208, 198, 198);}
.tbody .row:hover{
    background-color: rgb(194, 189, 189);
    transition: all .2s ease-in-out;
}
.table a{
    width: 80%;
    height: 60%;
    border: none;
    font-size: 16px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}
.table .edit{
    background-color: orangered;
    color: var(--text);
}
.table .delete{
    background-color: rgb(228, 33, 33);
    color: var(--text);
}
.titulos{
    width: 100%;
    text-align: center;
    color: var(--header);
    margin: 1em;
}
.menu-navegacion{
    width: 80%;
    height: 40px;
    margin-bottom: 1em;
    display: flex;
    justify-content: center;
    align-items: center;
}
.menu-navegacion input[type=text]{
    width: 300px;
    height: 90%;
    text-align: center;
    border: none;
    outline: none;
    border-bottom: 1px solid var(--header);
    font-size: 18px;
}
.menu-navegacion button{
    width: 100px;
    height: 90%;
    border: none;
    color: var(--text);
    background-color: var(--header);
    margin-left: 1em;
    cursor: pointer;
    font-size: 18px;
}
a:active , button:active{opacity: .5;}

@media (max-width:900px) {
   .container{
    overflow: hidden;
   }
   .contenedor-table{
    justify-content: start !important;
   }
   .table .tbody.cell{
    font-size: 14px !important;
   }
    
    
}
