*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Madimi One", sans-serif;
    font-weight: 400;
    font-style: normal;
}



/*

Desktop (Escritorio):

Resoluciones comunes: 1024 píxeles de ancho en adelante.
Tamaños más grandes y resoluciones más altas: 1920x1080 píxeles o incluso 2560x1440 píxeles.
Tabletas:

Modo retrato: 768x1024 píxeles.
Modo paisaje: 1024x768 píxeles.
Variabilidad en tamaños: Adaptar el diseño para una amplia gama de resoluciones.
Teléfonos móviles:

Dispositivos más antiguos: Alrededor de 320x480 píxeles.
Dispositivos más recientes: Resoluciones de 1080x1920 píxeles o superiores.
Importancia de la adaptabilidad: Diseños web deben ser adaptables a dispositivos móviles

*/

:root{
    --color1:#fe5217 ;
    --color2 : #fe6c2f ;
    --color3 : #ff8647 ;
    --color4 :#ff9f5f ;
    --color5:#ffb977;

    --texto1:#000000;
    --texto2:#1e1e1e;
    --texto3:#3c3c3c;
    --texto4:#595959;
    --texto5:#777777;
    --text:#fff;

    --fuchsia-pink-50: #fdf5fe;
    --fuchsia-pink-100: #faebfc;
    --fuchsia-pink-200: #f6d6f8;
    --fuchsia-pink-300: #f0b6f1;
    --fuchsia-pink-400: #e88ae8;
    --fuchsia-pink-500: #d85dd6;
    --fuchsia-pink-600: #c44ac0;
    --fuchsia-pink-700: #9b3095;
    --fuchsia-pink-800: #7f2979;
    --fuchsia-pink-900: #692663;
    --fuchsia-pink-950: #440e3f;


}
html{
    scroll-behavior: smooth;
}
body{
    background: var(--fuchsia-pink-700);
}
.main{
    max-width: 1920px;
    max-height: 100vh;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* overflow: auto; */
    background: var(--fuchsia-pink-500);
    position: relative;
}
.titulo{
    text-align: center;
    font-size: 40px;
    color: var(--fuchsia-pink-100);
    position: absolute;
    top: 3%;
}
.icon-config{
    width: 70%;
    box-shadow: 2px 2px 20px var(--fuchsia-pink-500),;
    box-shadow: 2px 2px 20px var(--fuchsia-pink-500),;
    box-shadow: 2px 2px 20px var(--fuchsia-pink-500);
    border-radius: 1em;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(300px,1fr));
    gap: 10px;
    padding: 1em;

}
.icon-config a{
    height: 50px;
    border: 1px solid var(--fuchsia-pink-100);
    border-radius: 1em;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: start;
    cursor: pointer;
    text-decoration: none;
    color: var(--fuchsia-pink-50);
    font-size: 18px;
    margin: 1em;
    opacity: .8;
    position: relative;
    z-index: 1;

}
.icon::before{
    content: "";
    width: 0%;
    height: 100%;
    left: 0;
    background:#ffffff3e;
    position: absolute;
    border-radius: inherit;
    transition: all .2s ease-out;
}
.icon:hover:before{
    width: 100%;
}
.icon img{
    width: 20%;
    height: 70%;
    margin-right: 1em;
}
.icon-config .icon:hover{
    opacity: 1;
}
.main .section{
    width: 100%;
    height: 100%;
    overflow: auto;
    position: absolute;
    background: var(--fuchsia-pink-900);
    z-index: 2;
    display: none;
    justify-content: center;
    padding: 2%;
    
}
.active{
    display: flex;
}
.section button{
    width: 40px;
    height: 40px;
    border: none;
    border-radius: 50%;
    background: var(--fuchsia-pink-100);
    box-shadow: 2px 2px 20px var(--fuchsia-pink-600);
    display: grid;
    place-items: center;
    position: absolute;
    top: 1%;
    right: 1%;
    cursor: pointer;
}
.section button img{
    width: 50%;
    height: 50%;
}
.section button:hover{
    box-shadow:
        2px 2px 20px var(--fuchsia-pink-600),
        2px 2px 20px var(--fuchsia-pink-600),
        2px 2px 20px var(--fuchsia-pink-600)
     ;

}
.section form{
    width: 70%;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(300px,1fr));
    gap: 10px;
    padding: 1em;
    overflow: auto;
    scrollbar-width: thin;
    scrollbar-color: var(--fuchsia-pink-950) var(--fuchsia-pink-100);
    background: var(--fuchsia-pink-700);
}
.section .row{
    height: 200px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}
.section input{
    width: 50%;
    font-size: 10px;
    color: var(--fuchsia-pink-100);
}
.section input[type=submit]{
    height: 40px;
    cursor: pointer;
    border: none;
    background: var(--fuchsia-pink-50);
    color: var(--fuchsia-pink-950);
    text-align: center;
    font-size: 20px;
}
.row img{
    border: 1px solid var(--fuchsia-pink-100);
    width: 50%;
    height: 80%;
    display: flex;
    object-fit: fill;
}
@media (max-width:750px) {
    
    .main{
        width: 100% !important;
    }
    .icon-config{
        width: 100%;
        height: 60% !important;
        background: transparent;
        border: none;
        box-shadow: 2px 2px 20px transparent !important;
        gap: 0px !important;
        padding: 0em;

    }
    .icon{
       opacity: 1 !important;

    }
    .titulo{
        font-size: 25px;
        top: 0;
    }
    .section {
        margin: 0;
        padding: 0 !important;

    }
    .section form{
        width: 100%;
        height: 100%;
    }
    .section form .row{
        flex-direction: column;
        height: 300px !important;
        margin: 0;
        padding: 0 !important;
        justify-content: start;
        align-items: center;
    }
    .section form .row img{
        width: 90% !important;
        height: 85% !important;
        margin-bottom: 1%;
    }
}