*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
    font-style: normal;;
}
:root{
    --boton:rgb(246, 178, 53);
    --text:#fff;
}
body{
    background-color: #fff;
    background-image: url(../img/fondo.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.contenedor{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 5%;
}


.form{
    width: 500px;
    height: 500px;;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    position: relative;
    border: none;
    background: #ecf0f12d;
}
.form:hover{
    box-shadow: 2px 2px 20px var(--boton);
    transition: all .25s ease-in-out;
}
.form .titulo{
    width: 100%;
    text-align: center;
    position: absolute;
    top: 4%;
    font-size: 35px;
    color: var(--text);
    font-weight: bold;
    text-shadow: 2px 2px 2px var(--boton);
}
.form input{
    width: 90%;
    height: 45px;
    margin: 1em;
    text-align: center;
    outline: none;
    font-size: 16px;
    border: none;
    border-radius: .5em;
    background-color: #ECF0F1;
    overflow: hidden;
}

.form input[type=submit]{
    background-color: var(--boton);
    color: var(--text);
    border: none;
    cursor: pointer;
    font-weight: bold;
}
.form input:focus{
    border: 2px solid var(--boton) ;
    transition: all .25s ease-in-out;
}
.form .opciones{
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 2em;
}
.form a{
    text-decoration: none;
    font-size: 14px;
    color: var(--boton);
    font-weight: bolder;
    display: flex;
    align-items: center;
}
.form a:hover{opacity: .7;}
.form a img{
    width: 25px;
    height: auto;
    margin-right: 4px;
}


.form:hover .capa{
    width: 0px !important;
    transition: all .7s ease-in-out;
    box-shadow: 2px 2px 10px var(--boton);
}



@media (max-width:1020px) {
    body{
        width: 100%;
        height: 100vh;
    }
    .form{background-color: transparent !important;}
    .form:hover{
        box-shadow: none !important;
    }
}