*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
    font-style: normal;;
}
:root{
    --header:#454141;
    --text:#fff;
}
html{
    scroll-behavior: smooth;
}
.contenedor{
    max-width: 1920px;
    height: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.header{
    width: 98%;
    height: 70px;
    overflow: hidden;
    display: flex;
    background: var(--header);
    color: var(--text);
    z-index: 1;
}
.logo{
    width: 10%;
    height: 100%;
    overflow: hidden;
    font-size: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    background-color: var(--header);
}
.header .hamburguesa{
    width: 40px;
    height: 40px;
    position: absolute;
    top: 1em;
    right: 1em;
    border: none;
    cursor: pointer;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.hamburguesa span{
    width: 90%;
    height: 4px;
    background-color: var(--header);
    margin: 2px;
}
.header .nav{
    width: 90%;
    height: 100%;
    transition: all .4s ease-in-out;
    display: flex;
    justify-content: center;
}
.nav > ul{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: end;
    padding-right: 1em;
    position: relative;
}

.nav li{
    min-width: 180px;
    height: 50%;
    list-style: none;
    margin-left: 1em;
    display: flex;
    opacity: .5;

}
.nav li a{
    text-decoration: none;
    font-size: 18px;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: left;
    color: var(--text);
    opacity: .5;
    transition: all .2s ease-in-out;
    padding-left: 1em;

}
.nav img{
    width: 30px;
    height: auto;
}
.nav li:nth-child(1) a{color: var(--text); font-weight: bold; opacity: 1 !important;}
.nav li:nth-child(1) {opacity: 1 !important;}
.nav li:hover, .nav li:hover a{opacity: 1;}

.nav .cart{
    min-width: 50px;
    display: flex;
    justify-content: center;
    opacity: 1;
}
.nav .cart img{
    width: 100%;
    height: 100%;
    cursor: pointer;
}

/* Estilos del banner */

.banner{
    width: 98%;
    height: 550px;
    /* border: 2px solid black; */
    overflow: hidden;
    display: flex;
    z-index: -1;
}

.banner .banner-content, .img-content{
    width: 50%;
    height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    border: 1px solid;

}

.banner-content .buscar, .text-content{
    width: 100%;
    height: 50%;
    /* border: 2px solid; */
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: justify;
    padding: 1em;

}
.text-content{flex-direction: column;}

.buscar input[type=text]{
    width: 50%;
    height: 40px;
    padding-left: 1em;
    font-size: 18px;
    outline: none;
}
.buscar input[type=submit]{
    width: 100px;
    height: 40px;
    text-decoration: none;
    color: var(--text);
    background-color: var(--header);
    border: none;
    margin-left: 1em;
    font-size: 16px;
}

/* Estilos del carrito */
.carrito{
    width: 400px;
    height: 400px;
    background-color: var(--text);
    position: absolute;
    top: 71px;
    right: 1%;
    z-index: 0;
    overflow: hidden;
    transform: translateY(-100%);
    color: var(--header);
    transition: all .4s ease-in-out;
    border: 2px solid;
}
.carrito > .carrito-tabla{
    width: 100%;
    height: 70%;
}
.carrito > .carrito-botones{
    width: 100%;
    height: 30%;
    border-top: 2px solid;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.carrito-botones .descripcion{
    width: 100%;
    height: 40%;
    display: flex;
    border-bottom: 1px solid var(--header);
}
.carrito .comprar{
    width: 90%;
    height: 40px;
    margin-top: 1em;
    border: none;
    cursor: pointer;
    color: var(--text);
    background-color: var(--header);
    font-size: 18px;
    font-weight: bold;
}
.comprar:hover{
   opacity: .8;
}
.descripcion .total{
    width: 60%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;

}
.descripcion .precio{
    width: 40%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
}

.carrito-tabla .table{
    width: 100%;
    height: 100%;
    color: var(--header);
}

.table .theader{
    width: 100%;
    height: 15%;
    overflow: hidden;
    display: flex;
    font-weight: bold;
    background: var(--header);
    color: var(--text);
}
.table .tbody{
    width: 100%;
    height: 85%;
    display: flex;
    flex-direction: column;
    overflow: auto;
}
.table .theader .row{
    width: 100%;
    height: 100%;
    display: flex;
}
.table .tbody .row{
    width: 100%;
    height: 40px;
    display: flex;
    border-bottom: 1px solid var(--header);
}

.table .theader .colunm{

    border-left: 1px solid #000;
    width: calc(100%/3);
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.table  .tbody .colunm{

    border-left: 1px solid;
    width: calc(100%/3);
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: red;
}
.row img{
    width: 50%;
    height: 100%;
}

/* Estilos de la seccion de productos */

.productos{
    width: 98%;
    border: 1px solid;
    display: grid;
    grid-template-columns: repeat(3, 400px);
    gap: 10px;
    overflow: hidden;
    padding: 1em;
}

.productos .cars{
    height: 300px;
    border: 1px solid;
    display: flex;
    flex-direction: column;
}
.cars .titulo-pantalla{
    text-align: center;
    color: var(--header);
    font-size: 30px;
}
.cars .imagen-pantalla{
    width: 100%;
    height: 50%;
}
.cars .precio{
    font-size: 18px;
    padding-left: 1em;
    padding-right: 1em;
    margin-top: 1em;
    display: flex;
}
.cars .precio span{
    width: 100%;
    padding-left: 1em;
    border-bottom: 1px solid var(--header);
}
.cars .add-cart{
    width: 60%;
    height: 40px;
    border: none;
    margin: auto;
    background-color: var(--header);
    color: var(--text);
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
}
.mostrar-carrito{
    transform: translateY(0%);
}